<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <a href="/cart/67223e3208d044b09d3f1154">Giỏ hàng</a>
    <% for(var i = 0; i < data.length; i++) { %>
      <b><a href="/products/<%= data[i]._id %>"><%= data[i].ten %></a></b><br>
      <b><%= data[i].thuong_hieu %></b><br>
      <b><%= data[i].gia %></b><br>
      <h1>------------------</h1>
    <% } %> 
</body>
</html>