<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Báo lỗi</title>
    <link rel="icon" href="../../../public/images/shop/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../../../public/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/BaoLoi.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/HeaderBuyer.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/FooterBuyer.css" />
  </head>
  <body>
    <div class="baoloi">
      <header class="container159">
        <div class="group-437">
          <img src="../../../public/images/shop/Logo_Text.png" alt="header logo" class="header-logo" />
          <label class="textbox-41 ui input gray_100 size-xs fill round">
            <img src="../../../public/images/shop/icon_Find.png" alt="search" class="search" />
            <input name="Textbox 41" placeholder="Tìm kiếm sản phẩm" type="text" />
          </label>
          <div class="group-875">
            <a href="#">
              <img src="../../../public/images/shop/icon_giohang.png" alt="cart" class="cart" />
            </a>
            <a href="#">
              <img src="../../../public/images/shop/icon_thongBao.png" alt="bell 12" class="bell-12" />
            </a>
            <div class="group-24">
              <a href="#">
                <img src="../../../public/images/shop/icon_avata.png" alt="avatar 21" class="avatar-21" />
              </a>
              <p class="ui text size-md">Xuân Huỳnh</p>
              <img src="../../../public/images/shop/icon_dropdown.png" alt="arrow down" class="arrow-down" />
            </div>
          </div>
        </div>
      </header>
      <div class="group-545 container-xs">
        <div class="newscreenbody">
          <img src="../../../public/images/shop/erro.png" alt="o warning 1" class="o-warning-1" />
          <h1 class="class-404l-i-kh-ng-t-m ui heading size-5xl">404<br />Lỗi không tìm thấy trang</h1>
        </div>
      </div>
      <footer class="container203">
        <div class="group-546 container-xs">
          <img src="../../../public/images/shop/Logo_Text.png" alt="footer logo" class="header-logo-footer" />
        </div>
        <div class="group-194 container-xs">
          <div class="group-540">
            <div class="group-492">
              <p class="ch-m-s-c-kh-ch-h-ng ui text size-lg">CHĂM SÓC KHÁCH HÀNG</p>
              <ul class="group">
                <li>
                  <a href="#">
                    <p class="ui text size-md">Trung Tâm Trợ Giúp</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Hướng Dẫn Mua Sắm</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Thanh Toán</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Vận Chuyển</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Trả Hàng Và Hoàn Tiền</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Chính Sách Bảo Hành</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="group-493">
              <p class="ch-m-s-c-kh-ch-h-ng ui text size-lg">VỀ BUSHOP</p>
              <ul class="group">
                <li>
                  <a href="#">
                    <p class="ui text size-md">Giới Thiệu Về BUSHOP</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Tuyển Dụng</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Chính Sách Bảo Mật</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <p class="ui text size-md">Kênh người bán</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer_thanhtoan">
                <p class="thanh-to-n ui text size-lg">THANH TOÁN</p>
                <img src="../../../public/images/shop/thanhtoan_visa.png" alt="thumbs up" class="thumbs-up" />
                <img src="../../../public/images/shop/thanhtoan_2.png" alt="thumbs up" class="thumbs-up" />
                <img src="../../../public/images/shop/thanhtoan_amex.png" alt="thumbs up" class="thumbs-up" />
                <img src="../../../public/images/shop/thanhtoan_paypal.png" alt="thumbs up" class="thumbs-up" />
            </div>
            <div class="group-541">
              <p class="ch-m-s-c-kh-ch-h-ng ui text size-lg">TẢI APP</p>
              <div class="container-204">
                <img src="../../../public/images/shop/qr_taiapp.png" alt="image 136" class="image-136" />
              </div>
            </div>
          </div>
        </div>
        <div class="group-194 container-xs">
          <div class="group-539">
            <div class="line-47"></div>
            <div class="group-538">
              <div class="group-531">
                <select class="ti-ng-vi-t ui selectbox gray_500_01 size-xs outline round" name="Ti ng vi t">
                  <option value="option1">Tiếng việt</option>
                  <option value="option2">English</option>
                </select>
                <div class="groupcon-531">
                    <a href="#">
                        <p class="class-b0p ui text size-md">© 2024 Brand, Inc.</p>
                      </a>
                      <p class="class-dsc ui text size-xs">•</p>
                      <a href="Privacy" target="_blank" rel="noreferrer">
                        <p class="class-b0p ui text size-md">Privacy</p>
                      </a>
                      <p class="class-b0p ui text size-xs">•</p>
                      <a href="Sitemap" target="_blank" rel="noreferrer" class="sitemap-link">
                        <p class="class-b0p ui text size-md">Sitemap</p>
                      </a>
                </div>
                
              </div>
              <img src="../../../public/images/shop/logo_twitter.png" alt="logo twitter 2" class="logo-twitter-2" />
              <img src="../../../public/images/shop/logo_facebook.png" alt="logo facebook 2" class="logo-facebook-2" />
              <img src="../../../public/images/shop/logo_linkedin.png" alt="logo linkedin 2" class="logo-facebook-2" />
              <img src="../../../public/images/shop/logo_youtube.png" alt="logo youtube 2" class="logo-facebook-2" />
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

